body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

.boxed {
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: relative;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

}
.boxed .item {
  width: 105%;
  height: 105%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(https://i.imgur.com/BkhD7Gz.jpg);
  background-size: cover;
  background-position: center;
  mix-blend-mode: screen;
  background-blend-mode: darken;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.boxed .item--r {
  background-color: red;
  -webkit-transform: translate(-13px, -13px);
          transform: translate(-13px, -13px);
}
.boxed .item--g {
  background-color: green;
  -webkit-transform: translate(-13px, -13px);
          transform: translate(-13px, -13px);
}
.boxed .item--b {
  background-color: blue;
  -webkit-transform: translate(-10px, 16px);
          transform: translate(-10px, 16px);
}
.boxed:hover .item {
  -webkit-transform: translate(0px, 0px) !important;
          transform: translate(0px, 0px) !important;
          
}


/*https://68.media.tumblr.com/d82fafb9de0dbfb764e62e309f648835/tumblr_ov0ccotmaf1sojtuto1_r1_540.gif*/